<button
  mat-flat-button
  class="org-trigger"
  color="primary"
  (click)="isShowOrgs = !isShowOrgs"
>
  Show Organizations
</button>
<div class="dashboard">
  <div class="dashboard__left" *ngIf="isShowOrgs">
    <div class="dashboard__header">
      <h1>Create Organization</h1>
    </div>

    <div [formGroup]="orgForm" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Organization name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contacts</mat-label>
        <input matInput formControlName="contacts" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Link</mat-label>
        <input matInput formControlName="link" />
      </mat-form-field>
      <div class="button-bar">
        <button
          mat-flat-button
          color="primary"
          [disabled]="!orgForm.valid"
          (click)="createOrganization(orgForm.value)"
        >
          Create organization
        </button>
      </div>
      <h3 class="orgs-header">Existing organizations</h3>

      <div class="orgs">
        <ng-template [ngIf]="organizations.length">
          <div class="org" *ngFor="let orgData of organizations">
            <div class="org__data">
              <div class="org__name">{{ orgData.name }}</div>
              <div class="org__contact">{{ orgData.contacts }}</div>
              <a
                [href]="orgData.link"
                target="_blank"
                class="org__link ellipses"
                style="width: 180px"
                >{{ orgData.link }}</a
              >
            </div>
            <button
              mat-icon-button
              color="primary"
              aria-label="Delete"
              (click)="deleteOrg(orgData.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-template>
        <ng-template [ngIf]="!organizations.length">
          No organizations exists
        </ng-template>
      </div>
    </div>
  </div>
  <div class="dashboard__left">
    <div class="dashboard__header">
      <h1 style="margin: 0">Create event form</h1>
      <button mat-flat-button color="primary" (click)="initForm()">
        Clear
      </button>
    </div>
    <div [formGroup]="createEventForm" class="form" *ngIf="config">
      <mat-form-field appearance="outline">
        <mat-label>Event name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <div class="file-upload" *ngIf="!isCreating">
        Select Image
        <input
          #fileInput
          id="file-input"
          type="file"
          multiple
          (change)="onFileSelected($event)"
        />

        <div class="files" *ngIf="selectionData.length">
          <div class="file" *ngFor="let file of selectionData">
            <mat-icon>description</mat-icon>

            <div class="file-data">
              <div class="file-data__name">{{ file.name }}</div>
              <div class="file-data__size">
                {{ (file.size / 1024).toFixed(2) }}KB
              </div>
            </div>

            <div class="close" (click)="removeFile(file)">
              <mat-icon class="icon-close">close</mat-icon>
            </div>
          </div>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Organization name</mat-label>
        <mat-select formControlName="orgId" [value]="eventToEdit?.org?.id">
          <mat-option *ngFor="let org of organizations" [value]="org.id">
            {{ org.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
          <mat-option
            *ngFor="let region of config.region.values"
            [value]="region"
          >
            {{ region }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="place" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Address Alias</mat-label>
        <input matInput formControlName="addressAlias" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Link from google maps</mat-label>
        <input matInput formControlName="googleMapsLink" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Link on event details</mat-label>
        <input matInput formControlName="eventUrl" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Link where to buy</mat-label>
        <input matInput formControlName="originUrl" />
      </mat-form-field>

      <div class="formats">
        <div class="format-control">
          <button
            mat-stroked-button
            color="primary"
            [matMenuTriggerFor]="formats"
          >
            Select Event Type
          </button>

          {{
            createEventForm.get("type")?.value !== ""
              ? createEventForm.get("type")?.value
              : "Select value please."
          }}
        </div>

        <mat-menu #formats="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="business">Бизнесс</button>
          <button mat-menu-item [matMenuTriggerFor]="culture">Культура</button>
          <button mat-menu-item [matMenuTriggerFor]="education">
            Образование
          </button>
          <button mat-menu-item [matMenuTriggerFor]="entertainment">
            Развлечение
          </button>
          <button mat-menu-item [matMenuTriggerFor]="health">Здоровье</button>
          <button mat-menu-item [matMenuTriggerFor]="sport">Спорт</button>
        </mat-menu>

        <mat-menu #business="matMenu">
          <button
            mat-menu-item
            *ngFor="let item of eventFormtas['Бизнес']"
            (click)="setEventType(item)"
          >
            {{ item }}
          </button>
        </mat-menu>

        <mat-menu #culture="matMenu">
          <button
            mat-menu-item
            *ngFor="let item of eventFormtas['Культура']"
            (click)="setEventType(item)"
          >
            {{ item }}
          </button>
        </mat-menu>

        <mat-menu #education="matMenu">
          <button
            mat-menu-item
            *ngFor="let item of eventFormtas['Образование']"
            (click)="setEventType(item)"
          >
            {{ item }}
          </button>
        </mat-menu>
        <mat-menu #entertainment="matMenu">
          <button
            mat-menu-item
            *ngFor="let item of eventFormtas['Развлечение']"
            (click)="setEventType(item)"
          >
            {{ item }}
          </button>
        </mat-menu>
        <mat-menu #health="matMenu">
          <button
            mat-menu-item
            *ngFor="let item of eventFormtas['Здоровье']"
            (click)="setEventType(item)"
          >
            {{ item }}
          </button>
        </mat-menu>
        <mat-menu #sport="matMenu">
          <button
            mat-menu-item
            *ngFor="let item of eventFormtas['Спорт']"
            (click)="setEventType(item)"
          >
            {{ item }}
          </button>
        </mat-menu>
      </div>
      <div class="multi">
        <mat-form-field appearance="outline" class="date">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            formControlName="startDate"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="date">
          <mat-label>End Date</mat-label>

          <input matInput formControlName="endDate" [matDatepicker]="picker2" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="multi">
        <mat-form-field appearance="outline">
          <mat-label>Start time(12:00 eg)</mat-label>
          <input matInput formControlName="startTime" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>End time(14:00 eg)</mat-label>
          <input matInput formControlName="endTime" />
        </mat-form-field>
      </div>
      <p class="title">Age</p>
      <div class="multi">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <input matInput formControlName="ageRestrictionFrom" />

          <!-- <mat-label>From</mat-label>
          <mat-select
            formControlName="ageRestrictionFrom"
            (selectionChange)="ageFromChangeHandle($event)"
            [value]="eventToEdit.ageRestrictionFrom"
          >

            <mat-option *ngFor="let age of config.age.values" [value]="age">
              <ng-template [ngIf]="age !== 200">{{ age }}</ng-template>
              <ng-template [ngIf]="age === 200">No limit</ng-template>
            </mat-option>
          </mat-select> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <input matInput formControlName="ageRestrictionTo" />
          <!-- <mat-label>To</mat-label>
          <mat-select
            formControlName="ageRestrictionTo"
            [value]="eventToEdit.ageRestrictionTo"
          >
            <mat-option *ngFor="let age of config.age.values" [value]="age">
              <ng-template [ngIf]="age !== 200">{{ age }}</ng-template>
              <ng-template [ngIf]="age === 200">No limit</ng-template>
            </mat-option>
          </mat-select> -->
        </mat-form-field>
      </div>
      <p class="title">Price</p>

      <div class="multi">
        <mat-form-field appearance="outline">
          <mat-label>From (eg. 12.50)</mat-label>
          <input matInput formControlName="priceFrom" type="text" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>To (eg. 20)</mat-label>
          <input matInput formControlName="priceTo" type="text" />
        </mat-form-field>
      </div>

      <mat-checkbox
        formControlName="isDonation"
        *ngIf="createEventForm.get('priceFrom')?.value"
        >Is Donation</mat-checkbox
      >
      <div class="button-bar">
        <button
          *ngIf="!eventToEdit.id"
          mat-flat-button
          color="primary"
          [disabled]="!createEventForm.valid && !isCreating"
          (click)="createEvent(createEventForm.value)"
        >
          Add event
        </button>
        <button
          *ngIf="eventToEdit.id"
          mat-flat-button
          color="primary"
          [disabled]="!createEventForm.valid && !isCreating"
          (click)="editEvent(createEventForm.value)"
        >
          Edit event
        </button>
      </div>
    </div>
  </div>
  <div class="dashboard__left" style="width: 50%">
    <div class="dashboard__header header-view" [formGroup]="searchForm">
      <h1 style="width: 260px">View all events</h1>
      <mat-form-field appearance="outline" class="search">
        <mat-label>Search by event name</mat-label>
        <input matInput formControlName="search" />
      </mat-form-field>
    </div>
    <div class="scroll-wrapper">
      <div
        class="event"
        *ngFor="let event of eventsToShow"
        [ngClass]="{ selected: event.id === eventToEdit.id }"
      >
        <div class="event__image">
          <img [src]="'https://idu.world/back/' + event.images[0]" alt="" />
        </div>
        <div class="event__block">
          <h2 class="event__name">{{ event.name }}</h2>
          <p class="tiny">{{ event.type }}</p>

          <p class="tiny">{{ event.org?.name }}</p>
          <p class="event__field">
            <span class="ellipses tiny" style="max-width: 80px"
              >{{ event.city }}, {{ event.place }}</span
            >
            |
            <span class="map-link ellipses tiny" style="max-width: 100px">{{
              event.addressAlias
            }}</span>
          </p>
        </div>
        <div class="event__block">
          <h2 class="event__name"></h2>
          <p class="tiny">
            {{ msToDate(event.startDate) | date : "YY MMM d, HH:mm" }}
            <ng-template [ngIf]="event.endDate">
              -
              {{
                msToDate(event.endDate) | date : "YY MMM d, HH:mm"
              }}</ng-template
            >
          </p>
          <p class="tiny">
            <span class="bold"> Age:</span>
            <ng-template
              [ngIf]="
                !(
                  event.ageRestrictionFrom === 200 ||
                  (event.ageRestrictionFrom === 0 &&
                    event.ageRestrictionTo === 200)
                )
              "
            >
              {{
                event.ageRestrictionFrom === 200
                  ? "&#8734;"
                  : event.ageRestrictionFrom
              }}
              -
              {{
                event.ageRestrictionTo === 200
                  ? "&#8734;"
                  : event.ageRestrictionTo
              }}
            </ng-template>
            <ng-template
              [ngIf]="
                event.ageRestrictionFrom === 200 ||
                (event.ageRestrictionFrom === 0 &&
                  event.ageRestrictionTo === 200)
              "
            >
              Без ограничений
            </ng-template>
          </p>
          <p class="tiny">
            <span class="bold">Price:</span>
            {{ setPrice(event) }}
          </p>
        </div>
        <button
          mat-icon-button
          color="primary"
          aria-label="Delete"
          (click)="deleteEvent(event.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          aria-label="Delete"
          (click)="selectToEdit(event)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
